header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
}

.logo {
  display: none;
}
@media only screen and (min-width: 600px) {
  .logo {
    display: block;
    text-align: left;
    font-size: 1.7rem;
    margin-left: 5px;
    color: var(--second-green);
    font-weight: bolder;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 3.5rem;
  }
  .logo {
    font-size: 2rem;
  }
}
