nav {
  width: 100%;
  height: 100%;
}
.ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.li {
  width: 70px;
  height: 100%;
}
.li:last-child {
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
}
.li:last-child .link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}
.li:last-child .link.active::after {
  content: none;
}
.li:last-child .link.active {
  color: var(--third-green);
}
.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--third-green);
  position: absolute;
  bottom: 0%;
  right: 0%;
  animation: active 0.3s ease;
  -webkit-animation: active 0.3s ease;
}
@media only screen and (min-width: 600px) {
  nav {
    width: 50%;
  }

  .li {
    width: 100px;
    height: 100%;
  }
  .li:last-child {
    flex-grow: unset;
    width: 100px;
  }
  .li:last-child .link {
    justify-content: center;
  }
  .li:last-child .link.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--third-green);
    position: absolute;
    bottom: 0%;
    right: 0%;
    animation: active 0.3s ease;
    -webkit-animation: active 0.3s ease;
  }
  .li:last-child .link.active {
    color: var(--text-color);
  }
  .link {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .link {
    font-size: 1.2rem;
  }
}
@keyframes active {
  0% {
    width: 0%;
    opacity: 0.5;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
