.container {
  background-color: var(--second-green);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
  bottom: 0;
  left: 0;
}
.address {
  width: 100%;
  padding: 5px;
}
.connection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  color: rgb(0, 0, 125);
}
.icon {
  margin-right: 5px;
}

@media only screen and (min-width: 600px) {
  .address {
    width: 80%;
  }
  .connection {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
  }
}
@media only screen and (min-width: 768px) {
}
