nav {
  width: 80%;
  padding: 0px 15px;
}

ul {
  width: 100%;
  list-style: none;

  display: flex;
  justify-content: start;
  align-items: center;
}
li {
  margin: 0px 10px;
}
.link {
  text-decoration: none;
  color: #fff;
}
